@import url("fonts.css");

body *{
  font-family: 'roboto', monospace;
  font-weight: 300;
}

body  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding-top: 30px;
    background-color:rgb(26, 26, 26);
    color: white !important; 
   /* background-image: url('');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; */
  }

  button .button-main{
    margin-bottom:50px !important;
  }

  #totales p{
    width: max-content;
    font-family: 'roboto', monospace;
    font-weight: 500;
    border: 1px solid white;
    padding: 15px;
    border-radius:15px;
    margin:10px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2), 0 3px 10px rgba(248, 248, 248, 0.1);
    background-color: #000000cc;

  }

  #totales{
    margin-bottom: 30px;
  }

  .product-container{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .product{
    width: 100px;
  }

  .price{
    width: 75px;
    margin-left:0;
  }

  .simbolo{
    width: 10px;
    box-shadow: none;
    /* margin:0; */
    margin-right: 0;
  }

  .price-container{
    display: flex;
    justify-content: center;
  }

  #totales{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no hay suficiente espacio */
    justify-content: space-evenly;
    flex-direction: row; /* Establece la dirección inicial como fila */
  }

  #totales p b{
    font-family: 'roboto', monospace;
    font-weight: 700;
  }

  #totales p:hover{
    color: black;
    background-color:WHITE;
    cursor:pointer;
  }
  
  .container-button{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
  }

  .template-container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no hay suficiente espacio */
    justify-content: space-evenly;
    flex-direction: row; /* Establece la dirección inicial como fila */
  }
  
  .template {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    width: max-content;
  }

  .addPart{
    margin-bottom: 5px !important;
  }
  
  .container-customer{
    padding: 30px;
    height: max-content;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.308), 0 6px 20px rgba(248, 248, 248, 0.199);
    margin-bottom:25px;
    background-color: rgb(255, 255, 255);
  }
  
  input {
    font-family: 'roboto', monospace;
    font-weight: 700;
    margin: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid transparent; /* Línea inferior transparente */
    outline: none;
    border-radius: 0; /* Sin bordes redondeados */
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.342); /* Sombra sutil en la línea inferior */
  }

  
  .button {
    background-color: #4CAF50; /* Color verde */
    border: none;
    color: white;
    padding: 15px 15px;
    width: max-content;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; 
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
  }
  
  .button:hover {
    background-color: #45a049; /* Color verde oscuro al pasar el ratón */
  }
  
  .add{
    padding: 13px 13px;
    margin-bottom:10px;
    margin-top:15px;
  }
  
  .delete{
    background-color:red;
    padding: 10px 13px;
    
  }

  .calcular{
    margin-bottom: 20px;
  }
  
  .delete:hover {
    background-color: #aa3333; /* Color verde oscuro al pasar el ratón */
  }
  
  .blue{
    background-color:#33aaff;
  }
  
  .blue:hover {
    background-color:#33aaff; /* Color verde oscuro al pasar el ratón */
  }

  @media screen and (min-width: 850px) {
    .container-button{
        width: 100%;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-items: center;
        margin-bottom: 20px;
      }
  }
  

