body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding-top: 30px;
    background-color:rgb(26, 26, 26);
    color: white !important; 
   /* background-image: url('');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; */
  }

  #totales p{
    border: 1px solid white;
    padding: 15px;
    border-radius:15px;
    margin-bottom:10px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2), 0 3px 10px rgba(248, 248, 248, 0.1);
    background-color: #000000cc;

  }

  #totales p:hover{
    color: black;
    background-color:WHITE;
    cursor:pointer;
  }
  
  .container-button{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .template {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:15px;
  }

  .addPart{
    margin-bottom: 5px !important;
  }
  
  .container-customer{
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.308), 0 6px 20px rgba(248, 248, 248, 0.199);
    margin-bottom:25px;
    background-color: rgb(255, 255, 255);
  }
  
  input {
    margin: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border: none;  
    outline: none; 
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(19, 20, 20, 0.1), 0 4px 12px rgba(14, 15, 15, 0.2);
  }
  
  input.customer {
    width: 160px;
  }
  
  input.price {
    width: 100px;
  }
  
  .button {
    background-color: #4CAF50; /* Color verde */
    border: none;
    color: white;
    padding: 15px 15px;
    width: max-content;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; 
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
  }
  
  .button:hover {
    background-color: #45a049; /* Color verde oscuro al pasar el ratón */
  }
  
  .add{
    padding: 10px 10px;
    margin-bottom:10px;
    margin-top:15px;
  }
  
  .delete{
    background-color:red;
    padding: 10px 10px;
    
  }
  
  .delete:hover {
    background-color: #aa3333; /* Color verde oscuro al pasar el ratón */
  }
  
  .blue{
    background-color:#33aaff;
  }
  
  .blue:hover {
    background-color:#33aaff; /* Color verde oscuro al pasar el ratón */
  }